{% extends "students/base.html" %}

{% block body %}
    <h3 class="text-center m-4">Add Student</h3>
    {% if success %}
        <div class="alert alert-success ms-4 me-4 mb-4" role="alert">
            The new student added successfully.
            <a href="{% url 'index' %}" class="alert-link">Go to Home Page.</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i> Student Registration
                    </div>
                    <div class="card-body">
                        <form action="{% url 'add' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}